<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chart.js" version="3.7.1" targetFramework="net472" />
  <package id="EPPlus.Interfaces" version="8.0.0" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="8.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="SciChart" version="8.8.0.28567" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="29.2.4" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="29.2.4" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfChart" version="29.2.4" targetFramework="net472" />
  <package id="System.Drawing.Common" version="9.0.5" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
</packages>